---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Página no encontrada :(</strong></p>
  <p>La página solicitada no pudo ser encontrada. Si crees que es un error, por favor enviame un correo a <a href="mailto:severo@rednegra.net">severo@rednegra.net</a>, o <a href="https://framagit.org/cursos-rednegra/cursos.rednegra.net.201805-EMI-seguridad-en-bases-de-datos-relacionales/issues/new">llena un ticket</a></p>
</div>
